/* Log In buttons disign start*/
.sign-blok{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(33,33,33,.2);
    z-index: 200;
    box-sizing: border-box;
}
.sign-blok_active{
    display: flex;
}
.sign{
    background-color: #d0cc1a;
    width: 350px;
    height: 300px;
    border-radius: 20px;
}
.auth-link{
    background-color: #00ffff;
}
.exit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    width: 10%;
    height: 8%;
    border-radius:0 10px;
    position: relative;
    left: 312px;
    background: rgba(114,114,114, .15);
    transition: .3ms;
}
.exit:hover{
    background: #e01533;
    color: #fff;
}
.sign-head{
    font-size: 35px;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    user-select: none;
}
.input-data, .input-btn{
    width: 70%;
    margin: 15px auto;
}
.input-data input{
    width: 100%;
    border: 2px solid rgba(114,114,114, .5);
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    transition: 3s;
    height: 25px;
    text-align: center;
}
.input-data input:focus{
    border: 2px solid #e01533;
    color: #e01533;
}
.input-btn input{
    width: 100%;
    border: 2px solid #e01533;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    background: #e01533;
    padding: 6px 0;
    transition: .3s;
}
.input-btn input:hover{
    background: #fff;
    color: #e01533;
}
.notReg{
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
}
.notReg-btn input{
    background: #fff;
    color: #e01533;
}
.notReg-btn input:hover{
    background: #e01533;
    color: #fff;
}
/*Log In buttons disign end*/

/*Sercher table*/
.serch-box{
    position: absolute;
    top: 60px;
    background: #e4ec09;
    border-radius: 10px;
    padding: 6px;


}
.serch-btn{
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serch-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
}
/*Start Main list */
.container{
   margin-top: 50px;
    max-width: 800px;
    background-color: gray;
    border-radius: 20px;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
		"header"
		"article"
		"aside"
		"footer";
}

header {
    grid-area: header;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: 2fr 4fr;
        grid-template-areas:
			"header header"
			"aside article"
			"aside footer"
    }
}

.grid > * {
    background-color: #28314E;
    border: 1px solid #212941;
    border-radius: 5px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;
}

.grid > *:nth-child(odd) {
    background-color: #475477;
}
.feetback{
    margin-top: 50px;
    max-width: 800px;
    padding: 10px;
    transform: translate(34%);
    background-color: gray;
    border-radius: 20px;
}
